{% extends "layout.html" %}

{% block title %}
    Convert
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-md-left mt-5">
            <h1>Enter betting odds (e.g. +115)</h1>
            <form action="/convert" method="post" class="mt-5">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="americanOdds" placeholder="Odds" type="text">
                </div>
                <button class="btn btn-outline-success mt-2" type="submit">Calculate</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../static/images/animated-stats.svg">
        </div>
    </div>
</div>
{% endblock %}