{% extends "layout.html" %}

{% block title %}
    Sports Betting Tools
{% endblock %}

{% block main %}
<img src="../static/images/landing.svg" class="background">
<div class="container">
  <div class="row">
    <div class="col-md-6 order-2 order-md-1 jumbotron text-left pt-sm-0 pt-md-5">
      <h1 class="display-4">Sports Betting Tools</h1>
      <p class="lead">Suck at sports betting? This is a collection of tools to help you change that. Virtually place bets on your favorite teams to practice and compete against users around the world. Try our live odds comparison tools to ensure you're getting the best odds. Use our free bet and profit boost tools to best capitalize on promotions from DraftKings, FanDuel, and more.</p>
      <a class="btn btn-success btn-lg register" href="/register">Sign Up</a>
    </div>
    <div class="col-md-6 order-1 order-md-2 align-self-md-center">
      <img src="../static/images/animated-landing.svg">
    </div>
  </div>
</div>
{% endblock %}