{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-md-left mt-5">
            <h1>Sell</h1>
            <form action="/sell" method="post" class="mt-5">
                <div class="form-group">
                    <label for="cars">Select a Property:</label>
                    <select name="houseID" class="form-control">
                        {% for i in range(houseListLength) %}
                        <option value= "{{ houseList[i].house_id }}" >{{ houseList[i].house_id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-outline-success mt-2" type="submit">Sell</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="../static/images/animated-revenue.svg">
        </div>
    </div>
</div>
{% endblock %}